<div class="container">
  <h2>Sale of Bottle</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    
    <div class="form-group">
      <label for="sel1">Bottle ID</label>
      <select class="form-control" name="bottle_id" ngModel required>
        <option selected disabled hidden>Bottle ID</option>
        <option value='Beer001'>Beer001</option>
        <option>id2</option>
        <option>id3</option>
      </select>
      <br/>
      <button type="submit" class="btn btn-default" id="btn_sale" [disabled]="!f.valid">Confirm Sale</button>
      <br/><br/>
